body {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*margin: 0 ;*/
  /*background-color: black;*/
  overflow: scroll;
  color: black;
  font-family: 'Playfair Display'
}

/*.navbar {
  margin-bottom: 0;
}*/

.row {
  margin: 0;
}

.p-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

/*Tree*/
.tree path {
  fill: none;
  stroke: #a8a1dd;
}

.tree text {
  font-size: 1.1em;
  text-shadow:
   -1px -1px 3px white,
   -1px  1px 3px white,
    1px -1px 3px white,
    1px  1px 3px white;
  cursor: pointer;
}

.artist-text {
  font-size: 1.4em;
  word-wrap: break-word;
}

.line-path {
  stroke-linejoin: round;
  stroke-linecap: round;
  mix-blend-mode: multiply;
  cursor: pointer;
}

/*.line-path:hover {
  fill: lightblue;
}*/

/*.artist {
  cursor: pointer;
}*/

.x-axis {
  font-size: 1.4em;
  fill: #635F5D;
  font-family: 'Playfair Display';
}

.legend {
  font-size: 1em;
  cursor: pointer;
}