body {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 100;
  overflow: scroll;
  background-color: white;
}

path {
  fill: none;
  stroke: #a8a1dd;
}

text {
	color: 'white';
  stroke-width: 15px;
  pointer-events: none;
  font-family: 'Playfair Display', serif;
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}